@import url('../../../src/assets/root/root.module.scss');
.image-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img {
        width: 100%;
        height: 100%;
    }
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .form {
        width: 500px;
        height: 100%;
        padding: 20px 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #d9afd9;
        background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
        text-align: center;
        border-radius: var(--border-radius7);
        .h4 {
        }
        .item {
            margin-top: 10px;
            .text {
                display: flex;
                font-weight: 600;
                color: var(--bs-black);
            }
            input {
                width: var(--set-width100);
                height: var(--set-height100);
                border-bottom: 1px solid black;
                outline: none;
                padding: 5px 10px;
            }
            .error {
                display: flex;
                color: var(--bs-red);
            }
            button {
                width: var(--set-width100);
                height: 40px;
                font-size: 20px;
                font-weight: 600;
                background-color: var(--bs-danger);
            }
        }
        .or {
            text-align: center;
            margin: 20px 0;
            span {
                padding: 7px;
                border-radius: 50%;
                text-align: center;
                background-color: var(--bs-danger);
                color: var(--bs-white);
            }
        }
        .auth {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            button {
                width: var(--set-width100);
                height: 40px;
                background-color: #fff;
                color: var(--bs-white);
                font-weight: 500;
                i {
                }
            }
            .facebook {
                margin-right: 10px;
                background-color: var(--bs-primary-text-emphasis);
            }
            .google {
                margin-left: 10px;
                background-color: var(--bs-blue);
            }
        }
        .re {
            a {
                color: var(--bs-primary-text-emphasis);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
