@import url('../../../assets/root/root.module.scss');
.resualt {
    width: 200px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
    width: 30px;
    background-color: transparent;
    color: #fff;
}
