@import url('../../assets/root/root.module.scss');

.home {
    position: relative;
    color: var(--red);

    .wrapper-home {
        margin-top: 20px;
        .wrapper {
            // clg3

            .clg9 {
                .product {
                    .pr {
                        color: var(--bs-red);
                        .pr-clg3 {
                            position: relative;
                            margin-top: 10px;
                            .cd {
                                img {
                                    width: var(--set-width100);
                                    height: 200px;
                                    transition: transform 0.3s ease; /* Hiệu ứng chuyển động khi phóng to */
                                    cursor: pointer;
                                    &:hover {
                                        transform: scale(1.1); /* Phóng to ảnh lên 10% */
                                    }
                                }
                                .cd-body {
                                    .write {
                                        font-size: 15px;
                                        white-space: nowrap; /* Không xuống dòng */
                                        overflow: hidden; /* Ẩn văn bản tràn ra ngoài */
                                        text-overflow: ellipsis; /* Thêm dấu ba chấm nếu văn bản bị cắt */
                                    }
                                    .price {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        del {
                                            font-size: 18px;
                                            color: var(--bs-gray-700);
                                        }
                                        ins {
                                            font-size: 20px;
                                            text-decoration: none;
                                            color: var(--bs-red);
                                        }
                                    }
                                }
                            }
                            .promotion {
                                position: absolute;
                                top: 0;
                                right: 10px;
                                .sale {
                                    width: 60px;
                                    height: 20px;
                                    padding: 0 0 0 3px;
                                    background-color: var(--bs-yellow);
                                    display: flex;
                                    align-items: center;
                                    i {
                                        margin-right: 5px;
                                        color: var(--primary-color);
                                    }
                                    span {
                                        color: var(--primary-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // toast
}
@media only screen and (min-width: 344px) and (max-width: 767px) {
    img {
        height: 250px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
    img {
        height: 250px;
    }
}
/* Styles for small screens */
@media only screen and (max-width: 600px) {
    img {
        height: 250px;
    }
}

/* Styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    img {
        height: 300px;
    }
}
@media only screen and (max-width: 800px) {
    img {
        height: 300px;
    }
}
