@import url('../../../assets/root/root.module.scss');
.clg3 {
    .category {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px 15px;
        margin-bottom: 10px;
        ul {
            li {
                padding: 16px 10px;
                a {
                    display: flex;
                    .img {
                        width: 70px;
                        height: 70px;
                    }
                    div {
                        margin-left: 10px;
                        span {
                            color: var(--bs-black);
                            display: -webkit-box; /* Hiển thị dưới dạng hộp cho WebKit */
                            -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
                            -webkit-box-orient: vertical; /* Thiết lập hướng hộp theo chiều dọc */
                            overflow: hidden; /* Ẩn phần nội dung thừa */
                            text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
                        }
                        ins {
                            color: var(--bs-red);
                        }
                    }
                }
            }
        }
    }
}
